<div class="container">
    <form action="/form/update/<%=points.infStudent.name%>/" method="Post" >
        <input type="hidden" name="_method" value="PUT">


        <h1 class="text-center">Cập nhật thông tin sinh viên</h1>


            <div class="form-group">
                <label for="name">Name</label>
                <input type="" class="form-control" name="name" value="<%=points.infStudent.name %>" id="name" disabled placeholder="Nhập tên">
            </div>
    
            <div class="form-group">
                <label for="age">Age</label>
                <input type="number" class="form-control" name="age" value="<%= points.infStudent.age %>"  id="age" placeholder="Nhập tuổi">
            </div>
    
            <div class="form-group">
                <label for="hometown">Hometown</label>
                <input type="text" class="form-control" name="hometown" value="<%= points.infStudent.hometown %>"  id="hometown" placeholder="Nhập quê quán">
            </div>
    
            <div class="form-group">
                <label for="school">School</label>
                <input type="text" class="form-control" name="school" value="<%= points.infStudent.school %>"  id="school" placeholder="Nhập trường">
            </div>
            <div class="form-group">
                <label for="academic_performance">Academic Performance</label>
                <select class="custom-select" name="academic_performance" id="academic_performance">
                    <option  disabled>Chọn học lực</option>
                    <option value="gioi" <%= points.infStudent.performance === 'gioi' ? 'selected' : '' %>>Giỏi</option>
                    <option value="kha" <%= points.infStudent.performance === 'kha' ? 'selected' : '' %>>Khá</option>
                    <option value="trung_binh" <%= points.infStudent.performance === 'trung_binh' ? 'selected' : '' %>>Trung bình</option>
                    <option value="yeu" <%= points.infStudent.performance === 'yeu' ? 'selected' : '' %>>Yếu</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="conduct">Conduct</label>
                <select class="custom-select" name="conduct" id="conduct">
                    <option  disabled>Chọn hạnh kiểm</option>
                    <option value="gioi" <%= points.infStudent.conduct === 'gioi' ? 'selected' : '' %>>Giỏi</option>
                    <option value="kha" <%= points.infStudent.conduct === 'kha' ? 'selected' : '' %>>Khá</option>
                    <option value="trung_binh" <%= points.infStudent.conduct === 'trung_binh' ? 'selected' : '' %>>Trung bình</option>
                    <option value="yeu" <%= points.infStudent.conduct === 'yeu' ? 'selected' : '' %>>Yếu</option>
                </select>
            </div>
            
            <div class="form-row">
                <div class="col">
                    <label for="math">Math</label>
                    <input type="number" name="math" class="form-control" value="<%= points.student.math %>"  id="math" placeholder="Điểm toán">
                </div>
                <div class="col">
                    <label for="liter">Literature</label>
                    <input type="number" name="liter" class="form-control" value="<%= points.student.liter %>"  id="liter" placeholder="Điểm văn">
                </div>
                <div class="col">
                    <label for="eng">English</label>
                    <input type="number" name="eng" class="form-control" value="<%= points.student.eng %>"  id="eng" placeholder="Điểm tiếng Anh">
                </div>
            </div>
    
            <button class="btn btn-danger mt-2" type="submit">OK</button>
    </form>
</div>