<div class="container">
  <div class="row">
    <div class="col-6">
      <h1 class="mx-auto">Student</h1>
      <div class="group">
            <div class="d-flex">
               <b>name:</b> <p><%= points.name %></p>
            </div>
            <div class="d-flex">
               <b>age:</b> <p><%= points.age %></p>
            </div>
            <div class="d-flex">
               <b>hometown:</b> <p><%= points.hometown %></p>
            </div>
            <div class="d-flex">
               <b>school:</b> <p><%= points.school %></p>
            </div>
            <div class="d-flex">
               <b>academic_performance:</b> <p><%= points.academic_performance %></p>
            </div>
            <div class="d-flex">
               <b>conduct:</b> <p><%= points.conduct %></p>
            </div>
         
             
      </div>

    </div>
    <div class="col-6"></div>
  </div>
</div>